USER_INFO = {
    "name": "TODO",
    "sname": "TODO",
    "github": "TODO",
    "ig": "TODO",
    "email": "TODO@TODO.TODO",
    "fb": "TODO",
    "twitter: "TODO",
    "reddit: "TODO",
    "youtube: "TODO",
}

USER_URL = "TODO"

TOKEN_KEY = ""
